[core]
  editor = subl -w
	excludesfile = ~/.gitignore_global
  attributesfile = .gitattributes_global
	ignorecase = false
  # hooksPath = ~/.git_hooks/

[user]
  name = Thierry Deo
  email = thierry.deo@gmail.com

[tag]
  sort = version:refname

[alias]
  lol = log --graph --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m" --topo-order --decorate  --boundary --branches
  tree = log --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
	pcb = "!f() { git add -N . && git merge-base master HEAD | xargs git diff --name-only | xargs -d '\n' pre-commit run $@ --files; }; f"
  modified-branch-files = "!f() { git merge-base master HEAD | xargs git diff --name-only; }; f"
  up = !git fetch -p && git pull --rebase --autostash
  pushu = push -u
  dif = diff --ignore-space-change

[push]
	default = current
	autoSetupRemote = true

[fetch]
  prune = 1
  pruneTags = 1

[help]
  autocorrect = 1
[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
	grep = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[include]
  path = ~/.gitgpgsign
[includeIf "gitdir:~/workspace/"]
  path = ~/workspace/.gitconfig
[includeIf "gitdir:~/reecall/"]
  path = ~/reecall/.gitconfig
[includeIf "gitdir:~/compta/"]
  path = ~/compta/.gitconfig

[http]
  proxy =

[pull]
  rebase = true

[rebase]
  autoStash = true

[grep]
  lineNumber = true
  patternType = perl

[diff]
  algorithm = minimal

[diff "xls"]
  binary = true
  textconv = xls2txt
[checkout]
  defaultRemote = origin
[color "grep"]
	filename = magenta
	lineNumber = green
[credential]
	username = tdeo
[gc]
	pruneExpire = 3 days ago
