[core]
  editor = subl -w
  excludesfile = ~/.gitignore_global
[user]
  name = Thierry Deo
  email = thierry.deo@gmail.com
[tag]
  sort = version:refname
[alias]
  lol = log --graph --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m" --topo-order --decorate  --boundary --branches
  tree = log --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
  pr = "!f() { git diff `git merge-base $1 HEAD` $1; }; f"
[push]
  default = simple
[help]
  autocorrect = 1
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[include]
  path = ~/.gitgpgsign
[includeIf "gitdir:~/workspace/"]
  path = ~/workspace/.gitconfig
[http]
  proxy =
[pull]
  rebase = true
[rebase]
  autoStash = true
