[core]
  editor = "code -w"
  excludesfile = ~/.gitignore_global
  attributesfile = .gitattributes_global
	ignorecase = false
  mergeoptions = --no-edit
	symlinks = true

[user]
  name = Thierry Deo
  email = thierry.deo@gmail.com
	signingkey = /Users/thierry/.ssh/id_rsa

[tag]
  sort = version:refname
	gpgsign = true

[alias]
  lol = log --graph --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m" --topo-order --decorate  --boundary --branches
  tree = log --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
  modified-branch-files = "!f() { main_branch=`git symbolic-ref --short refs/remotes/origin/HEAD`; git diff --name-only $main_branch...HEAD; git diff --name-only HEAD; }; f"
  dif = diff --ignore-space-change
  rubocop-offenses = "!f() { git grep -IP --only-match 'rubocop:\\s*(disable|todo) .*' -- ':(exclude)**/archives/' | grep -Pzo '[A-Z][A-z]+/[A-Z][A-z]+' | tr '\\0' '\\n' | sort | uniq -c | sort; }; f"
  eslint-offenses = "!f() { git grep -IP --only-match 'eslint-(disable[\\w-]*) .*' -- '*.js' '*.ts' '*.jsx' '*.tsx' '*.cjs' '*.mjs' | cut -d':' -f3 | cut -d' ' -f2- | sed 's/-- .*//g' | sed 's|\\*/||g' | grep -Pzo '[@A-z/-]+' | tr '\\0' '\\n' | sort | uniq -c | sort; }; f"
  merge = merge --no-edit
  cgrep = "!f() { git grep $@ -- ':!*.spec.tsx' ':!*.spec.ts' ':!*_spec.rb' ; }; f"

[push]
  default = current
  autoSetupRemote = true

[fetch]
  prune = 1
  pruneTags = 1

[help]
  autocorrect = 1
[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
	# grep = always
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[include]
  path = ~/.gitgpgsign
[includeIf "gitdir:~/workspace/"]
  path = ~/workspace/.gitconfig
[includeIf "gitdir:~/reecall/"]
  path = ~/reecall/.gitconfig
[includeIf "gitdir:~/compta/"]
  path = ~/compta/.gitconfig

[http]
  proxy =

[pull]
  rebase = true

[rebase]
  autoStash = true

[grep]
  lineNumber = true
  patternType = perl
  fallbackToNoIndex = true

[diff]
  algorithm = minimal

[diff "xls"]
  binary = true
  textconv = xls2txt
[checkout]
  defaultRemote = origin
[color "grep"]
  filename = magenta
  lineNumber = green
[credential]
  username = tdeo
[gc]
  pruneExpire = 3 days ago
[safe]
  directory =
[blame]
	ignoreRevsFile = .git-blame-ignore-revs
[gpg]
	format = ssh
[commit]
	gpgsign = true
[stash]
	showPatch = true
